:root {
  --color: #f6f6f6;

  --main-color: #00FF80;

  --bg: #202020;
  --bg-light: #282828;
  --bg-lighter: #303030;

  --bg-secondary: #404040;
  --bg-secondary-light: #505050;
  --bg-secondary-lighter: #606060;

  --divider-color: #383838;

  --bg-input: #0f0f0f98;
  --dialog-backdop: #00000040;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  color: var(--color);
  background-color: var(--bg);
}

* {
  font-family: "Segoe UI", Inter, Avenir, Helvetica, Arial, sans-serif;
  transition: 0.15s;
  border: none;
  caret-color: var(--main-color);
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

input,
button,
textarea {
  color: var(--color);
  background-color: var(--bg-input);
}

select {
  color: var(--color);
  background-color: var(--bg-input);
}

select option {
  background-color: var(--bg);
}

button {
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
}

button:active {
  background-color: #0f0f0f69;
}

input,
select,
textarea {
  border-radius: 8px;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--main-color);
}

input[type="text"],
textarea {
  padding: 5px;
}

input[type="date"],
select {
  padding: 4px;
}

label {
  cursor: text;
}

textarea {
  resize: none;
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--main-color);
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

::selection {
  background: var(--main-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-calendar-picker-indicator {
  /* Changes the icon of the date picker to white */
  filter: invert(1);
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 8px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-light);
} */